.no-margin{
    margin: 0!important;
}

#actions{
    background: #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.actions{
    cursor: pointer;
}

a.actions:hover{
    opacity: 0.8;
}

a.edit{
    color: #0d6efd;
    text-decoration: none;
}

a.delete{
    color: #dc3545;
    text-decoration: none;
}

.option-removable{
    cursor: pointer;
    color: #0d6efd;
}

.option-removable:hover{
    color: #dc3545;
}

.preview-image{
    max-width: 140px;
}
