#filter-group-create-container{
    margin-bottom: 20px;
}

.filter-group-create{
    padding: 15px 25px;
    border: 1px solid #ced4da;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
